<!--<div class="text-layout">-->
<!--  <h1>{{ nombre | titlecase}}</h1>-->
<!--  <h1>{{ valor | number}}</h1>-->
<!--  <h1>{{ obj | json }}</h1>-->
<!--</div>-->


<!--<button pButton-->
<!--        class="p-button-help p-button-rounded"-->
<!--        [label]="'Cambiar Nombre'"-->
<!--        [icon]="'pi pi-apple'"-->
<!--        [iconPos]="'right'"-->
<!--        (click)="mostrarNombre()">-->
<!--</button>-->

<!--<p-card [header]="nombre | titlecase"-->
<!--        [style]="{'width': '250px','margin-top': '10px'}"-->
<!--        [subheader]="'This is a Subheader'">-->
<!--  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam culpa distinctio magni veritatis. Alias atque,-->
<!--    dolorum itaque magnam natus officiis temporibus ullam voluptate. Ad, ipsam modi quaerat recusandae saepe soluta!</p>-->
<!--</p-card>-->

<app-menu></app-menu>

<router-outlet></router-outlet>
